<body>
  <div class="container">
    <h1>Modal Examples</h1>

    <ng-template #authModalBody let-loginTabActive="loginTabActive" let-title="myTitle">
      {{ title }}
      <ng-ar-tab-panel>
        <ng-ar-tab title="Login" [selected]="loginTabActive">
          <form>
            <div class="form-field">
              <ng-ar-fa-input [icon]="iconEmail" [iconType]="typeReg">
                <input class="normal-input" type="email" name="email" placeholder="Please type yourE-mail">
              </ng-ar-fa-input>
            </div>
            <div class="form-field">
              <ng-ar-fa-input [icon]="iconPassword" [iconType]="typeSolid">
                <input class="normal-input" type="password" name="password" placeholder="Please enter your password">
              </ng-ar-fa-input>
            </div>
          </form>
        </ng-ar-tab>
  
        <ng-ar-tab title="Sign Up" [selected]="!loginTabActive">
          <form>
            <div class="form-field">
              <ng-ar-fa-input [icon]="iconEmail" [iconType]="typeReg">
                <input class="normal-input" type="email" name="email" placeholder="Please type yourE-mail">
              </ng-ar-fa-input>
            </div>
            <div class="form-field">
              <ng-ar-fa-input [icon]="iconPassword" [iconType]="typeSolid">
                <input class="normal-input" type="password" name="password" placeholder="Please enter your password">
              </ng-ar-fa-input>
            </div>
            <div class="form-field">
              <ng-ar-fa-input [icon]="iconPassword" [iconType]="typeSolid">
                <input class="normal-input" type="password" name="confirm-password" placeholder="Please confirm your password">
              </ng-ar-fa-input>
            </div>
          </form>
        </ng-ar-tab>
      </ng-ar-tab-panel>
    </ng-template>

    <!-- <ng-template [ngArModalOpenOnClick]="[loginButton, signUpButton]">
      <ng-ar-modal [body]="authModalBody">
      </ng-ar-modal>
    </ng-template> -->

    <ng-ar-modal [hideOnEsc]="true" [body]="authModalBody" [hideOnClickOutside]="true" [showCloseIcon]="true"
      *ngArModalOpenOnClick="[loginButton, signUpButton]" closeIconSymbol="square" #ngArModal
      [context]="{loginTabActive: loginActive, myTitle: 'Login and Sign Up Modal'}">
      <div class="modal-close-i" (click)="ngArModal.onCloseModal()"> X </div>
    </ng-ar-modal>
    

    <div class="modal-buttons">
      <button #loginButton (click)="setLoginActive(true)">Login</button>
      <button #signUpButton (click)="setLoginActive(false)">Sign Up</button>
    </div>
  </div>
</body>
