.container {
  margin: 0 auto;
  max-width: 300px;
  padding-top:65px;

  & h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  & .modal-buttons {
    margin-top: 20px;
  }

  & .form-field {
    margin-bottom: 5px;

    & input {
      height: 25px;
    }

    & .normal-input {
      width:190px;
    }
    
  }
}

.btn-test {
  display: inline-block;
  color: white;
  background-color:darkcyan;
  padding: 2px 20px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid rgb(5, 94, 94);
  border-radius: 4px;

  &:hover {
    background-color: white;
    color: rgb(5, 94, 94);
    border: 1px solid rgb(5, 94, 94);
  }
}